MONGODB_URI="mongodb+srv://<user>:<password@cluster0.n6dtyc1.mongodb.net/propertypulse?appName=Cluster0"
NEXT_PUBLIC_DOMAIN=http://localhost:XXXX
NEXT_PUBLIC_API_DOMAIN=http://localhost:XXXX/api
GOOGLE_CLIENT_ID=XXXXXXXXXXXXX
GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXX
NEXTAUTH_URL=http://localhost:XXXXXXXXXXXXX
NEXTAUTH_URL_INTERNAL=http://localhost:XXXXXXXXXXXXX
NEXTAUTH_SECRET=XXXXXXXXXXXXX
CLOUDINARY_CLOUD_NAME=XXXXXXXXXXXXX
CLOUDINARY_API_KEY=XXXXXXXXXXXXX
CLOUDINARY_API_SECRET=XXXXXXXXXXXXX